@import "tailwindcss";

/* définition de variables à appliquer à tout le site 
le color picker devrait changer la valeur de --color-bg
si la couleur est sombre la couleur de texte a utiliser serait --color-text-light
sinon --color-text-dark*/
:root {
  --color-bg: #415F42;
  --color-text-light: white;
  --color-text-dark: black;
}

html,
body,
#app {
  background-color: var(--color-bg);
  color: var(--color-text-light);
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h2 {
  font-weight: 600;
  font-size: x-large;
  justify-content: start;
}
